body {
  margin: 0;
  padding: 0;
}

// Ejercicio 5


// <div class="card">
//       <header>
//         <img src="https://placehold.co/600x400" alt="" />
//       </header>
//       <h1>Title</h1>
//       <p>
//         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
//         numquam, suscipit sint aspernatur, laboriosam consequuntur saepe
//         recusandae necessitatibus eaque ea dolore iure voluptas modi quidem,
//         amet nostrum.
//       </p>
//       <footer>
//         <div><span>Publised:</span><time>March 20, 2020</time></div>
//         <button>More info</button>
//       </footer>
//     </div>

body {
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  height: 100vh;
}


.card {
  border: 1px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px;

  header {
    img {
      width: 100%;
    }
  }

  h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0.5rem;
  }

  p {
    font-size: 1rem;
    padding: 0.5rem;
  }

  footer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;



      span {
        font-weight: bold;
      }

      time {
        font-size: 0.8rem;
      }
    }

    button {
      display: block;
      padding: 0.5rem 1rem;
      border: none;
      background-color: #0d8105;
      color: #fff;
      cursor: pointer;
    }
  }


}