* {
  margin: 0;
  padding: 0;
  // outline: 1px solid lime;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

// Ejercicio 5

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  height: 100vh;
}

.card {
  border: 1px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0.5rem;
  }

  p {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0;
  }

  footer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;

      span {
        font-weight: bold;
      }

      time {
        font-size: 0.8rem;
        color: #0d8105;
      }
    }

    button {
      display: block;
      padding: 0.5rem 1rem;
      border: none;
      background-color: #0d8105;
      color: #fff;
      cursor: pointer;
    }
  }
}
