// Breakpoint

$breakpoints: (
  'small': (min-width: 320px),
  'medium': (min-width: 768px),
  'large': (min-width: 1280px),
);



// Colors

/// @type Color
$body-text-color: #f0f0f0 !default;

/// @type Color
$body-background-color: #141414 !default;

/// @type Color
$button-hover-color: #ffffff !default;

/// @type Color
$button-hover-text: #0033a1a8 !default;

// @type Color
$link-color: #f4f4f4 !default;

// @type Color
$link-color-hover: #171818a8 !default;


//Typography

// Import the fonts
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');


/// @type List
$body-font-family: 'Jost', sans-serif !default;

/// @type Number
$body-font-weight: 400 !default;

/// @type Number
$body-font-size: 16px !default;

/// @type Number
$body-line-height: 1.5 !default;


/// IMAGES WIDTHS
$img-top-size: 225px;
$img-item-size: 250px;


// Buttons

$button-font-family: 'Jost', sans-serif;
$button-font-size: 1rem;
$button-text-transform: capitalize;
$button-font-weight: 400;
$button-padding: 1.3rem 1rem;
$button-border: none;
$button-border-radius: 0.2rem;

$button-primary-background: #141414;
$button-primary-color: #f0f0f0;
$button-primary-background-hover: #f0f0f0;
$button-primary-color-hover: #200960;
$button-accent-background: #f0f0f0;
$button-accent-color: #141414;
$button-accent-background-hover: #f0f0f0;
$button-accent-color-hover: #ff0a16;