@use 'sass:map' as *;

body {
  margin: 0;
  padding: 0;
}

$colors: (
  base: #00f,
  important: #000065,
  warning: #8484ff,
);

$fonts: (
  principal: 'Arial',
  secondary: 'Verdana',
);

.box {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
