@use "sass:map" as *;

$colors: (
  base: #00f,
  important: #000065,
  warning: #8484ff,
);

$fonts: (
  principal: 'Arial',
  secondary: 'Verdana',
);

.box {
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  @extend .box;
  background-color: get($colors, base);
}

.important {
  @extend .box;
  background-color: get($colors, important);
}

.warning {
  @extend .box;
  background-color: get($colors, warning);
}

.principal {
  font-family: get($fonts, principal);
}

.secondary {
  font-family: get($fonts, secondary);
}

.box-shadow {
  @extend .box;
  border: 1px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}