@use 'sass:map' as *;

body {
  margin: 0;
  padding: 0;
}

$colors: (
  base: #f00,
  important: #640303,
  warning: #ff9b9b,
);

$fonts: (
  principal: 'Arial',
  secondary: 'Verdana',
);

.box {
  border: 1px solid #000;
  border-radius: 0.1rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
