@use 'sass:map' as *;

body {
  margin: 0;
  padding: 0;
  color-scheme: light dark;
}

// Ejercicio 3

body {
  margin: 0;
  margin: 0 auto;
  max-width: 80rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Arial';
  display: flex;
}

header {
  background-color: #188a9c;

  nav {
    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 2rem;
      gap: 7rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        padding: 0px;
      }

      li {
        height: 3rem;
        width: 100%;

        a {
          color: #fff;
          text-decoration: none;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          &:hover {
            background-color: #0c383e;
          }
        }
      }
    }
  }
}
