//* Tema A: theme1
//* Tema B: theme2

// @use 'themes/theme1' as *;
@use 'themes/theme2' as *;
@use 'sass:map';
// Ejercicio 2

.container {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
  justify-content: space-around;
  gap: 1rem;
}

.theme__base {
  @extend .box;
  background-color: map.get($colors, base);
}

.theme__important {
  @extend .box;
  background-color: map.get($colors, important);
}

.theme__warning {
  @extend .box;
  background-color: map.get($colors, warning);
}

.font--principal {
  font-family: map.get($fonts, principal);
}

.font--secondary {
  font-family: map.get($fonts, secondary);
}

.box--shadow {
  font-family: map.get($fonts, secondary);
}
